
<div class="container-fluid" id="containerMain">
    <div class="row">
        <div class="col text-center">
            <h1>Cliente cadastrado</h1>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Data de nascimento</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">CEP</th>
                    <th scope="col">UF</th>
                </tr>
            </thead>
            <tbody>
                <tr id="mostrar">
                
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mt-5 text-center">
        <div class="col-6 col-md-6">
            <input class="btn btn-success" type="button" value="Mostrar" onclick="carregarClientes()">
        </div>
        <div class="col-6 col-md-6">
            <input class="btn btn-danger" type="button" value="Deletar" onclick="excluirClientes()">
        </div>
    </div>
</div>
