<div class="container-fluid" id="containerMain">
    <div class="row">
        <div class="col">
            <h1>Cliente</h1>
        </div>
    </div>
<!-- {{xnomeCliente}} - {{xemailCliente}} - {{xtelefoneCliente}} - {{xcpfCliente}} - {{xdataNascimentoCliente}} - {{xenderecoCliente}} - {{xcepCliente}} - {{xufCliente}}  -->
    <div class="row">
        <div class="col">
            <p><strong>Nome</strong></p>
            {{xnomeCliente}}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            {{xemailCliente}}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            {{xtelefoneCliente}}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            {{xcpfCliente}}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            {{xdataNascimentoCliente}}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            {{xenderecoCliente}}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            {{xcepCliente}}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            {{xufCliente}}
        </div>
    </div>
    

</div>

