<div class="container-fluid" id="containerMain">
    <div class="row">
        <div class="col text-center">
            <h1>Exercício cadastrado</h1>
        </div>
    </div>
    <div class="table-responsive">
        <div class="row">
            <div class="col">
                <table class="table table-hover mt-5">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Exercício</th>
                            <th scope="col">Qtd. percorrida</th>
                            <th scope="col">Tempo gasto</th>
                            <th scope="col">Calorias gastas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="mostrar">

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="row mt-5 text-center">
        <div class="col-6 col-md-6">
            <input class="btn btn-success" type="button" value="Mostrar" onclick="carregarExercicio()">
        </div>
        <div class="col-6 col-md-6">
            <input class="btn btn-danger" type="button" value="Deletar" onclick="excluirExercicio()">
        </div>
    </div>

</div>