<div class="container-fluid" id="containerMain">
    <div class="row">
        <div class="col text-center">
            <h1>IMC</h1>
        </div>
    </div>

    <div class="table-responsive">
        <div class="row">
            <div class="col">
                <table class="table table-hover mt-5">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Peso (KG)</th>
                            <th scope="col">Altura (M)</th>
                            <th scope="col">IMC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="mostrar">
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-5 text-center">
        <div class="col-6 col-md-6">
            <input class="btn btn-success" type="button" value="Mostrar" onclick="carregarIMC()">
        </div>
        <div class="col-6 col-md-6">
            <input class="btn btn-danger" type="button" value="Deletar" onclick="excluirIMC()">
        </div>
    </div>
</div>