<div class="container-fluid" id="containerMain">
    <div class="row">
        <div class="col text-center">
            <h1>IMC</h1>
        </div>
    </div>

    <div class="table-responsive">
        <div class="row">
            <div class="col">
                <table class="table table-hover mt-5">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Peso (KG)</th>
                            <th scope="col">Altura (M)</th>
                            <th scope="col">IMC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>{{xpeso}}</td>
                            <td>{{xaltura}}</td>
                            <td>{{ximc}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>