<div class="container p-5">
    <div class="row">
        <div class="col text-center">
            <h1>CADASTRO DE CLIENTES</h1>
        </div>
    </div>

    <form ng-submit="enviar()" ng-controller="ClienteCtrl">
        <div class="form-row">
            <div class="form-group col-3">
                <label for="nomeCliente">Nome</label>
                <input type="text" id="nomeCliente" ng-model="nomeCliente" class="form-control"
                    placeholder="Ex: Bruno Cunha">
            </div>

            <div class="form-group col-3">
                <label for="emailCliente">E-mail</label>
                <input type="email" id="emailCliente" ng-model="emailCliente" class="form-control"
                    placeholder="Ex: brunocunha@gmail.com">
            </div>

            <div class="form-group col-2">
                <label for="telefoneCliente">Telefone</label>
                <input type="text" id="telefoneCliente" ng-model="telefoneCliente" class="form-control"
                    placeholder="Ex: (48) 98462-3169">
            </div>

            <div class="form-group col-2">
                <label for="cpfCliente">CPF</label>
                <input type="text" id="cpfCliente" ng-model="cpfCliente" class="form-control"
                    placeholder="Ex: 104.023.819.01">
            </div>

            <div class="form-group col-2">
                <label for="dataNascimentoCliente">Nascimento</label>
                <input type="text" id="dataNascimentoCliente" ng-model="dataNascimentoCliente" class="form-control"
                    placeholder="Ex: 26/01/1998">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-3">
                <label for="enderecoCliente">Endereço</label>
                <input type="text" id="enderecoCliente" ng-model="enderecoCliente" class="form-control"
                    placeholder="Ex: Rua Waldemar, 01">
            </div>

            <div class="form-group col-3">
                <label for="cepCliente">CEP</label>
                <input type="text" id="cepCliente" ng-model="cepCliente" class="form-control"
                    placeholder="Ex: 88110-600">
            </div>

            <div class="form-group col-2">
                <label for="ufCliente">UF</label>
                <select class="form-control" name="ufCliente" id="ufCliente" title="União Federativa" value=""
                    ng-model="ufCliente">
                    <option selected="" disabled="" value="selecionar">SELECIONE O ESTADO</option>
                    <optgroup label="Região Sul">
                        <option value="SC">SC</option>
                        <option value="RS">RS</option>
                        <option value="PR">PR</option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="row mt-5 text-center">
            <div class="col">
                <input class="btn btn-success" type="submit" value="Salvar" onclick="salvarCliente()">
            </div>

        </div>

    </form>
</div>